
body{
  background-color: rgb(201, 147, 76);
}

#isotipo{
  background-color: rgb(27, 151, 23);
  text-align: center;
  display: block;

}

.menu{
  display:  inline-block;
    text-align: right;
  color: #fff;
  background-color: rgb(52, 161, 99);
  margin: auto;
  padding: 20px 30px;
  }

  #secundaria-padre{
    text-align: left;
    background-color: rgb(27, 151, 23);
    margin: 0px 480px;
    }
    
  .secundaria{
    display: inline-block;
    color: #fff;
    margin: auto;
    padding: 20px 30px;
  }

 h3{
  display: inline-block;
  text-align: left;
  color: #fff;
  background-color: rgb(14, 114, 53);
  margin: 10px 300px;
  padding: 15px 25px;
  }

.parrafos-p
{
  text-align: justify;
color: rgb(0, 0, 0);
background-color: rgb(52, 161, 99);
margin: 10px 240px;
padding: 10px 20px;
width: 600px;
}
.parrafos-p1
{
  text-align: justify;
color: rgb(0, 0, 0);
background-color: rgb(52, 161, 99);
margin: 20px 700px;
padding: 10px 20px;
width: 600px;
}
.video{
  margin-left: 280px;
}
.meteorologo{
  margin-left: 100px
}
 
