
body{
    margin: 0;
    padding: 0;
    background: url("img/2.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

div
{
  text-align: left;
color: #fff;
background-color: #000;
}

div{
  width:50%
}

h3{

  text-align: left;
color: #fff;
background-color: #000;
}
li{

  text-align: left;
color: #fff;
background-color: #000;
}

